.facts {
  min-height: 60vw;
  margin-top: -24vw;

  background-image: url("../images/unsplash.jpg");
  background-size: cover;
  background-position: bottom;

  clip-path: polygon(0 24vw, 100% 0, 100% 100%, 0% calc(100% - 24vw));
}
